body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: black;
    background-image: url(/assets/images/blue-2137334_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
 
  
  /* general */
 

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-bottom: 20px;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: gray;
  }
  
  h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
  }
  
  h2,
  h3 {
    font-size: px;
  }
  
  /* header */
  
  #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }
  
  #logo {
    float: left;
    width: 250px;
    height: 95px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: gray;
  }
  
  nav {
    float: right;
    margin-top: 25px;
  }
  
  nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
  }
  
  nav a:first-child {
    border-left: 0 none;
  }
  
  /* footer */
  
  footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid gray;
    border-bottom: 8px solid gray;
    height: 50px;
    bottom: 0px;
    
  }
  
  h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
  }
  
  /* main */
  
  #main-container {
    padding-top: 25px;
    min-height: calc(75vh - 15px);
    position: relative;
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 940px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
  }
  .split {
    
    padding-left: 10px;
    
  }
  /* portfolio page */
  
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
    
    
  }
  
 .work {
   margin: 10px;
   border-style: solid;
 }
  
  .auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
  
  .jumbotron jumbotron-fluid {
    top: 0px;
    right: 0px;
    width: 150px;
    height: 400px;
  }
  /* contact page */
  
  #contact-form ul {
    margin-bottom: 20px;
  }
  
  #contact-form li {
    margin-bottom: 10px;
  }
  
  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  
  p {
    
    position: absolute;
    bottom: 25px;
    width: 274px;
    background-color: black;
    opacity: .7;
    color: white;
    text-align: center;
  }
@media only screen and (max-width: 980px) {
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: black;
    background-color: #dddddd; 
    width: 960px; 
  }
  /* general */
  .container {
    width: 960px;;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  #masthead {
    position: fixed;
    z-index: 99;
    width: 960px;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
  }
  .main-section {
    float: left;
    width: 960px;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: black;
    background-color: #dddddd;
    width: 768px;
    
}
.container {
  width: 768px;
  max-width: 768px;
  margin: 0px;;
  clear: both;
}
  .main-section {
    width: 500px;
  }
  #masthead {
    
    z-index: 99;
    width: 768px;
    margin: 0 0 0px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
       
  }
  nav {
    float: left;
    margin-left: 150px;
    text-align: center;
    }
}

@media screen and (max-width:640px) {
  body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: black;
    background-color: #dddddd;
    width: 640px;
  }
  
  
  /* general */
 

  .container {
    width: 100%;
    max-width: 640px;
    margin: 0px;;
    clear: both;
  }
  
  #masthead {
    position: static;
    z-index: 99;
    width: 640px;
    margin: 0 0 0px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
    margin-top: 0px;
    float: left;
  }
  
  #logo {
    
    width: 640px;
    height: 70px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
    margin-right: 25px;
  }
 
 .main-section {
   flex-wrap: wrap;
   
 }
 nav {
  float: left;
  margin-left: 150px;
  text-align: center;
  }
  .auth-image {
    width: 400px;
    height: 325px;
    margin-left: 75px;

  }
  #main-container {
    padding-top: 130px;
    height: 500px;
    
  }
  h1 {
    padding-left: 225px;
  }
}
  
